@import '../../../variables.scss';

.form {
  text-align: right;

  & button {
    padding: 0.25rem 2rem;
    border: 1px solid $redColor;
    border-radius: 20px;
    background-color: $redColor;
    color: $whiteColor;
    font-weight: bold;
    font: inherit;
    cursor: pointer;

    &:hover, &:active {
      background-color: $hoverRed;
      border-color: $hoverRed;
    }
  }
}
