@import '../../../variables.scss';

.cart_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem 0;
  border-bottom: 2px solid $hoverRed;

  & h2 {
    margin: 0 0 0.5rem 0;
    color: $darkGreyColor;
  }
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;

  & .price {
    font-weight: bold;
    color: $hoverRed;
  }

  & .amount {
    padding: 0.25rem 0.75rem;
    font-weight: bold;
    border: 1px solid $greyColor;
    border-radius: 6px;
    color: $darkGreyColor;
  }
}

.actions {
  display: flex;
  flex-direction: column;

  & button {
    margin: 0.25rem;
    margin-left: 1rem;
    width: 3rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: transparent;
    color: $hoverRed;
    border: 1px solid $hoverRed;
    border-radius: 6px;
    font: inherit;
    cursor: pointer;
    
    &:hover, &:active {
      background-color: $hoverRed;
      color: $whiteColor;
    }
  }
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}
